# Environment
.env
venv/
__pycache__/
*.pyc

# Data (too large for git)
#data/raw/
data/chunks/
data/embeddings/
data/raw/AMZN_2024_10K.txt
data/raw/MSFT_2024_10K.txt
data/raw/TSLA_2024_10K.txt

.vscode/
.idea/

# OS
.DS_Store

# codes
download_raw_inputs.py
testcode.py